/* Custom Box Parameters */

.works .title-1{
  font-weight: 600;
}

.works .title-1:hover{
  color: #f7c08a;
  text-shadow:-2px -2px 1px #333;
}
.works .title-2{
  font-weight: 600;
}

.works .title-2:hover{
  color: #28a745;
  text-shadow:-2px -2px 1px #333;
}

.works .title-3{
  font-weight: 600;
}

.works .title-3:hover{
  color:#185dd2;
  text-shadow:-2px -2px 1px #333;
}

.works .title-4{
  font-weight: 600;
}

.works .title-4:hover{
  color: #07eafd;
  text-shadow:-2px -2px 1px #333;
}

.works .title-5{
  font-weight: 600;
}

.works .title-5:hover{
  color: #ff2700;
  text-shadow:-2px -2px 1px #333;
}

.works .title-6{
  font-weight: 600;
}

.works .title-6:hover{
  color: #ffdb00;
  text-shadow:-2px -2px 1px #333;
}

.works .title-7{
  font-weight: 600;
}

.works .title-7:hover{
  color: #0000FF;
  text-shadow:-2px -2px 1px #333;
}

#main .thumb > .works h2 {
  pointer-events: none;
  bottom: 1.875em;
  font-size: 0.8em;
  left: 2.1875em;
  margin: 0;
  position: absolute;
  z-index: 1;
}